<iv class="container">
      <div class="row">
          <div class="panel panel-primary">
            <div class="panel-heading">电话查询</div>
            <div class="panel-body">
               <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label class="control-label"></label>
                  <div class="col-sm-12">
                    <input type="text" class="form-control" placeholder="姓名或Email地址" required autofocus>
                  </div>
                </div>
              </form>
              <hr>
              <table class="table table-hover table-responsive table-bordered">
                <thead>
                    <tr>
                      <th>#</th><th>姓名</th><th>手机</th><th>座机</th><th>邮件地址</th><th>操作</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td><td>张强</td><td>136xxxxxxxx</td><td>843</td><td>zhangqiang@iceflow.cn</td><td><button class="btn btn-info btn-sm btn-block">详情</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      </div>
    </div> <!-- /container -->
